
<center>
    <div class="container">
        <h4>Criar Categoria</h4>
        <form id="categoryForm">
            <label for="categoryName">Nome da categoria:</label>
            <input type="text" id="categoryName" name="categoryName" placeholder="Nome da categoria">
            <br><br>
            <input type="submit" value="Criar">
        </form>
    </div>
</center>
<script src="../js/script.js"></script>