<center>
    <div class="container">
        <h4>Cadastrar Técnico</h4>
        <form id="techAssignForm">
            <label for="userSelect">Escolha o username de quem será técnico:</label>
            <select id="userSelect" name="userSelect">
                <tr>
                    <option value="">Selecione:</option>
                </tr>
                {{#each users}}
                <tr>
                    <option value="{{this._id}}">{{this.user}}</option>
                </tr>
                {{/each}}
            </select>
            <br><br>
            <input type="submit" value="Cadastrar">
        </form>
    </div>
</center>
<script>
    const techAssignForm = document.getElementById('techAssignForm');
    techAssignForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const techId = document.getElementById('userSelect').value;
        if (techId === ""){
            alert('Selecione um usuário!');
        }

        const data = {
            techId
        };

        try {
            const response = await fetch('/api/techAssign', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (response.status === 200) {
                alert('Técnico cadastrado com sucesso!');
                window.location.href = '/home';
            } else {
                alert('Erro ao cadastrar técnico!');
            }
        } catch (error) {
            console.error('Erro ao cadastrar técnico!', error);
        } 
    });
</script>