<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sistema de Tickets de Suporte</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <center>
            <h1>Sistema de Tickets de Suporte</h1>
            <a href="/techAssign">
                <button>Cadastrar Técnico</button>
            </a>
            <a href="/categoryCreate">
                <button>Cadastrar Categoria</button>
            </a>
            <a href="/ticketAssign">
                <button>Atribuir Ticket</button>
            </a>
            <a href="/logout" >
                <button>Sair</button>
            </a>
            <br><br>
            {{{body}}}
        </center>
    </body>
</html>