    <center>
        <h4>Bem vindo(a) {{{name}}}! Selecione uma opção acima.</h4>
    </center>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const mensagem = urlParams.get('mensagem');

        if (mensagem) {
            alert(decodeURIComponent(mensagem));
        }
    </script>