<center>
<div class="container">
    <h4>Criar Ticket</h4>
    <form id="ticketForm">
        <label for="ticketTitle">Título do ticket:</label>
        <input type="text" id="ticketTitle" name="ticketTitle" placeholder="Dê um breve título a seu ticket">
        <laber for="ticketCategory">Categoria:</label>
        <select id="ticketCategory" name="ticketCategory">
            <tr>
                <option value="">Selecione uma categoria</option>
            </tr>
            {{#each categories}}
                <tr>
                    <option value="{{this._id}}">{{this.categoryName}}</option>
                </tr>
            {{/each}}
        </select>
        <label for="ticketDescription">Descrição:</label>
        <textarea id="ticketDescription" name="ticketDescription" placeholder="Descreva seu problema"></textarea>
        <br><br>
        <input type="submit" value="Criar">
    </form>
</div>
</center>
<script src="../js/script.js"></script>