<center>
<div class="container">
    <h4>Criar Ticket</h4>
    <form id="ticketForm">
        <label for="ticketTitle">Título do ticket:</label>
        <input type="text" id="ticketTitle" name="ticketTitle" placeholder="Dê um breve título a seu ticket">
        <laber for="ticketCategory">Categoria:</label>
        <select id="ticketCategory" name="ticketCategory">
            <tr>
                <option value="">Selecione uma categoria</option>
            </tr>
            {{#each categories}}
                <tr>
                    <option value="{{this._id}}">{{this.categoryName}}</option>
                </tr>
            {{/each}}
        </select>
        <label for="ticketDescription">Descrição:</label>
        <textarea id="ticketDescription" name="ticketDescription" placeholder="Descreva seu problema"></textarea>
        <br><br>
        <input type="submit" value="Criar">
    </form>
</div>
</center>
<script>
    const ticketForm = document.getElementById('ticketForm');
    ticketForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const ticketTitle = document.getElementById('ticketTitle').value;
        const ticketCategory = document.getElementById('ticketCategory').value;
        const ticketDescription = document.getElementById('ticketDescription').value;

        const data = {
            ticketTitle,
            ticketCategory,
            ticketDescription
        };
        try {
            const response = await fetch('/api/ticketCreate', {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            });
            if (response.status === 200) {
                alert('Ticket cadastrado com sucesso!');
                window.location.href = '/home';
            } else {
                alert('Erro ao cadastrar ticket!');
            }
        } catch (error) {
            console.error('Erro ao cadastrar ticket!', error);
        }
    });
</script>